@import "fx";
*{
    @include begin;
}
html{
    @include height100;
    body{
        @include height100;
        .container
        {
            width: 100%;
            height: 100%;
            display: flex;
        }
}
}
.container
{
    .content{
        position: relative;
        width: 45%;
        height: 100%;
        background-image: url("../../img/000_1we8zn_0.webp");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        &::after
        {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 102, 255, 0.753);
        }
        h3,.text
        {
            position: absolute;
            color:white;
            left: 3em;
            z-index: 3;
        }
        h3{
            top: 3em;
            color :white;
            margin-bottom: 2em;
            font-size: 25px;
            span{
                background-color: rgb(255, 255, 255);
                color: rgba(0, 102, 255, 0.897);
                border-radius:3px ;
                padding: 0.2em;
                margin-left: 0.1em;
            }
        }
        .text
        {
            left: 4.8em;
            top: 35%;
            p{
                &:first-child{
                    font-size: 45px;
                    
                }
            }
        }
    }

    .option
    {
        width: 50%;
        height: 100%;
        padding-top:13em; 
        padding-bottom: 13em;
        @include center_flex(column,center,space-between);
        h3{
            font-size: 28px;
            color :rgba(0, 102, 255, 0.897); 
            margin-bottom: 2em;
            font-size: 25px;
            span{
                background-color: rgba(0, 102, 255, 0.897); 
                color: rgb(255, 255, 255);
                border-radius:3px ;
                padding: 0.2em;
                margin-left: 0.1em;
            }
        }
        .action{
            display: flex;
            justify-content: space-between;
            .cards
            {
                cursor: pointer;
                background-color: rgb(255, 255, 255);
                border-radius: 3px;
                padding: 2em;
                margin-left: 3em;
                transition: all 0.3s ease-in-out;
                &:hover{
                    box-shadow: 1px 1px 20px rgb(228, 228, 228);
                    background-color: rgb(248, 248, 248);
                }
            }
            a{
                color: rgba(0, 102, 255, 0.897);    
                display: block;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;

            }
            span{
                display: block;
                margin-left: 0.5em;
            }
        }
    }
}